body {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 1.4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background-image: none;
}

@keyframes backgroundScroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 100%;
	}
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
    /* background-color: #ffffff; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cfd7de' fill-opacity='0.5'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	animation: backgroundScroll 120s linear infinite;
}

a {
	color: #0366d6;
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: #0056b3;
	text-decoration: underline;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}